<nav th:fragment="header(isIndex)"
     class="navbar navbar-expand-lg"
     data-bs-theme="dark"
     th:classappend="${isIndex} ? '':'bg-dark'"
>
    <div class="container d-flex justify-content-between w-100">
        <a class="navbar-brand text-white" href="/"><h1 class="fw-lighter text-uppercase">Bienes<span class="fw-bold">Raices</span></h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white fs-5 fw-light active" aria-current="page" href="/nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fs-5 fw-light" href="/anuncios">Anuncios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fs-5 fw-light" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fs-5 fw-light" href="/contacto">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fs-5 fw-light" href="/administrador">Administrador</a>

                </li>
            </ul>
        </div>
    </div>
</nav>