body {
  font-family: 'Lato', sans-serif;
  background-color: #f8f9fa; /* Color de fondo suave */
  color: #333; /* Color de texto general */
  line-height: 1.6;
}

.text-heading {
  color: #2c3e50; /* Color de encabezados */
}

.site-header {
  background-color: #121212; /* Fondo negro */
  color: #ffffff; /* Texto blanco para contraste */
  border-bottom: 2px solid #eaeaea; /* Línea sutil en el borde inferior */
}

.display-4 {
  background-color: #2c3e50; /* Fondo negro */
  color: #ffffff; /* Texto blanco */
  padding: 1rem; /* Añade algo de espacio alrededor del texto */
  margin-top: 0; /* Ajusta el margen superior para eliminar cualquier espacio */
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff !important; /* Asegura que los enlaces sean blancos */
}

.site-footer {
  background-color: #ffffff;
  border-top: 2px solid #eaeaea;
  padding-top: 20px;
}

.site-footer .nav-link {
  color: #2c3e50; /* Color de enlaces en el pie de página */
  transition: color 0.3s;
}

.site-footer .nav-link:hover {
  color: #007bff; /* Efecto hover en los enlaces */
}

/* Estilos adicionales para botones */
.btn-primary {
  background-color: #3498db; /* Color azul elegante */
  border-color: #3498db;
}

.btn-primary:hover {
  background-color: #2980b9; /* Efecto hover */
  border-color: #2980b9;
}

.btn-success {
  background-color: #27ae60; /* Botón verde */
  border-color: #27ae60;
}

.btn-success:hover {
  background-color: #1e8449; /* Efecto hover */
  border-color: #1e8449;
}

.modal-header {
  background-color: #2c3e50;
  color: #ffffff;
}

.modal-content {
  border-radius: 8px; /* Bordes redondeados */
}

.modal-footer .btn-secondary {
  background-color: #7f8c8d;
  border-color: #7f8c8d;
}

.modal-footer .btn-secondary:hover {
  background-color: #95a5a6;
  border-color: #95a5a6;
}

.rounded-img {
  border-radius: 8px;
  margin-bottom: 20px;
}

.modal-alert {
  z-index: 2050; /* Asegura que este modal esté por encima de los demás */
}