<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.9">
  <title>Bienes y Raíces - Farfán</title>
  <meta name="description" content="Esta es una pagina de prueba">
  <link rel="stylesheet" href="css/normalize.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="/assets/css/style.css"> -->
</head>
<body class="bg-light">

    <nav th:replace="fragments/header :: header(isIndex=${false})"></nav>

    <div class="container my-5 py-3">
        <div class="row">
            <div class="col-12 col-md-7">
                <img src="/assets/img/anuncio1.jpg" alt="" class="img-fluid mb-4">
            </div>
            <div class="col-12 col-md-5">
                <h1 class="fw-light text-center mb-4">Casa de Lujo en el Lago</h1>
                <span class="text-success fw-bold fs-5 mb-3 d-inline-block">$3,000,000</span>
                <div class="row mb-3">
                    <div class="col-4">
                        <img src="../../../../../../Trabajo/bienes-raices-bootstrap/assets/img/icono_wc.svg"/>
                        <span>3</span>
                    </div>
                    <div class="col-4">
                        <img src="../../../../../../Trabajo/bienes-raices-bootstrap/assets/img/icono_estacionamiento.svg"/>
                        <span>3</span>
                    </div>
                    <div class="col-4">
                        <img src="../../../../../../Trabajo/bienes-raices-bootstrap/assets/img/icono_dormitorio.svg"/>
                        <span>3</span>
                    </div>
                </div>
                <p>Esta impresionante casa junto al lago ofrece una vista panorámica inigualable, ideal para quienes buscan un refugio de tranquilidad y belleza natural. Con acabados de lujo en cada rincón, la propiedad combina elegancia y confort, brindando un espacio moderno y sofisticado. Las ventanas amplias permiten que la luz natural inunde cada habitación, destacando la calidad de los materiales y el diseño arquitectónico. Además de su ubicación privilegiada, esta casa se presenta a un precio excepcional en el mercado, convirtiéndola en una oportunidad única para aquellos que desean una vivienda de alto nivel en un entorno sereno. Sin duda, es el lugar perfecto para disfrutar de la paz y la belleza del lago, sin sacrificar estilo ni comodidad.</p>

                <button type="button" class="btn btn-warning rounded-0 w-100">Comprar propiedad</button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contactModalLabel">Gracias por Contactarnos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Tu mensaje ha sido enviado correctamente. Nos pondremos en contacto contigo pronto.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
